<h1>All users</h1>
<%= link_to "New User", new_user_path %>

<table>
  <thead>
    <tr>
      <th> User Name </th>
      <th> About </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%=  user.user_name %></td>
        <td><%=user.about%></td>
        <td> Edit</td>
        <td>Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>
